.input-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  input {
    width: 600px;
    height: 48px;
    margin: auto;
    font-size: inherit;
    padding: 0 58px 0 28px;
    border-radius: 30px;
    border: none;
    border: 1.3px solid #dfdfdf;
    outline: 0;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.3);
    transition: all 300ms ease;
  }
  
  .search-warning {
    font-size: 22px;
  }
  